<section class="showcase">
  <div class="video-container">
    <video src="./../../assets/universe.mp4" autoplay muted loop></video>
  </div>
  <div class="content">
    <h1>Shoot For The Stars</h1>
    <h3>Full screen video landing page</h3>
    <div class="mouse"></div>
  </div>
</section>

<section id="about">
  <h1>About the project</h1>
  <p>
    This is a basic project created in <a href="https://webpack.js.org/">webpack</a> and some more modules to be able to
    use JS and SCSS in the correct and
    efficient way. This project was created to have a guide on what a basic webpack project would look like, it is not a
    real implementation for production.
  </p>

  <h2>My social networks</h2>

  <div class="social">
    <a href="https://www.facebook.com/jason.snz.3/" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
    <a href="https://github.com/Bryan-Herrera-DEV" target="_blank"><i class="fab fa-github fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/bryan-herrera-dev/" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
  </div>
</section>
